<link rel="stylesheet" href="/stylesheets/show.css">

<head>
    <style>
        h2 {
            color: #f5e79f;
            font-family: arial, sans-serif; 
            margin-top: 2px;
        }
    </style>
</head>

<body>

    <div class="background">
        <div class="blinking-border">
            <center><h1> <%= @villager.name %> </h1>
            <h2 style="font-size: 18px;">"<%= @villager.catchphrase %>"</h2>

            <div class="flex-row">
                <button id="button1-home" class="nav-buttons"><a href="/villagers" style="color: #65a189; text-decoration:none;">home</a></button>
                <button id="button2-edit" class="nav-buttons"><a href="/villagers/<%= @villager.id %>/edit" style="color: #65a189; text-decoration:none;">edit</a></button>
                <button id="button3-logout" class="nav-buttons"><a href="/logout" style="color: #65a189; text-decoration:none;">sign out</a></button>
            </div>

                <div class="content-container"><br><br><br>
                    <p class="content-text"><%= @villager.personality %></p><br>
                    <p class="content-text"><%= @villager.species %></p><br>
                    <p class="content-text"><%= @villager.birthday %></p><br>
                    <p class="content-text"><%= @villager.status %></p><br>

                    <form action="/villagers/<%= @villager.id %>/delete" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit"><b>Delete</b></button>
                    </form>

                    <div class="title2">friend crossing</div>
                </div></center>
        </div>
    </div>
</body>